h1{
	text-align:center;
}
.right{text-align:right;
}
#t12,#t22,#t23{
	text-align:center;
}
table{
	margin-block:30px;
}
#t-image{
	width:30%;
}
.row-h{
	height:30px;
}
#t11{
	border:1 px solid rgb(0,0,0)
}